---
title: Rifai's Latest Blog Posts
description: "Stay informed with the latest tech trends through our blog. Our articles cover game development in Unity3D and Godot Engine, mobile app design with Flutter, and programming in Java and Kotlin. Discover insights and tips."
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  order: 2

pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true

permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
{% set postslist = posts %}
{% include "postslist.njk" %}
