{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
{% for post in postslist | reverse %}
	<article class="postlist-article">
		<h1 class="postlist-header">
			<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}{% if post.data.draft %} (draft){% endif %}</a>
		</h1>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL yyyy") }}</time>
		<span>{{ post.data.description }}</span>
		{{ post.content | safe }}
	</article>
	{# <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		
	</li> #}
{% endfor %}
