{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ul>
	{% for post in postslist %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else
			%}<code>{{ post.url }}</code>{% endif %}{% if post.data.draft %} (draft){% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL
			yyyy")
			}}</time>
			{% if post.data.summary %}
			<span>{{ post.data.summary }}</span>
			{% else %}
			<span>{{ post.data.description }}</span>
			{% endif %}

	</li>
	{% endfor %}
</ul>

{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Prev</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next</a>
{% endif %}